body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding-top: 15px;
}

.dark {
  color: #222222;
}

p {
  color: white;
  text-align: center;
  padding: 10px;
}

#colorchange {
  width: 400px;
  height: 150px;
  background-color: #504caf;
  margin:auto;
}

.doubleclick {
  display: inline-flex;
  border: 2px solid #504caf;
  width: 400px;
  height: 200px;
}

.resizefont {
  font-size: 40px;
  color: #222222;
}

.flower {
  background-image: url(../img/flower.jpg);
  background-repeat: no-repeat;
  max-width: 600px;
  width: 100%;
}
