body {
  background-color: #222222;
  font-family: Arial, sans-serif;
}

h1 {
  color: #fff;
  text-decoration: underline;
  margin-left: 25px;
}

p {
  color: gold;
  margin-left: 10px;
  font-size: 18px;
}
